// Here you can add other styles

$text-muted:        $gray-500;

/* Brand Colors */
$brandBlue:           #20a8d8;
$brandLtBlue:         #63c2de;
$brandYellow:         #ffbf46;
$brandRed:            #fa6b6e;
$brandGreen:          #49bc7d;

/* Cards */
.card {
    border: none
}
.card-body {
    background: $gray-800
}
.card-title {
    color: $white
}
.card-footer {
    background: $gray-800
}

.main {
    background: #1D262B
}

/* Breadcrumb */
.breadcrumb {
    background: $gray-800
}
.breadcrumb-item {
    color: $white
}

/* Sidebar */
.sidebar-nav {
    background: $gray-800
}

.sidebar-minimizer .sidebar {
    background: $gray-800
}